/* Swatches
-------------------------------------------------*/

@teal: #006a71;
@blue: #290c54;
@orange: #f08b1d;
@white #ffffff;

/* MOBILE FIRST
-------------------------------------------------*/

body {
  max-width: 48em;
  margin: 0 auto;
  padding: 100px 15px;
}

#header { }

#main-navigation {
  ul {  
    padding-left: 0;
    
    li {
      display: inline-block;

      ul {
        display: none;
      }

      &:not(:last-child) {
        margin-right: .5em;
      }

      &:hover > ul {
        display: inline-block;
      }

      &.active-link > a {
        color: salmon;
      }

      &.active-folder > a {
        color: orange;
      }
    }
  }
}

a {
  color: #999;
}

#content { }

#footer { }


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

  /* BOTH PAGES 
  ---------------------------------------------*/

  /* LIST PAGE
  ---------------------------------------------*/

  &.view-list { }

  /* ITEM PAGE
  ---------------------------------------------*/  

  &.view-item { }
  
}


/* TOUCH DEVICE - ADDED BY MODERNIZR
-----------------------------------------------*/

html.touch {
  .squarespace-comments .comments-content .comment-list .comment .comment-header .controls .squarespace-comment-buttons .comment-control {
    opacity: 1;
  }
}


/* BREAK GRID AND STACK BLOCKS ON SMALL SCREENS 
-----------------------------------------------*/

@media screen and (max-width: 48em) {
  .row .col {
    width: 100%;
    float: none;
  }
}


/* BEYOND MOBILE
-----------------------------------------------*/
@fullWidth: 1070px;
@navHeight: 48px;
@defaultFontSize: 15px;

.clearSpacing() {
	margin: 0;
	padding: 0;
}

.fullWidthCenter() {
	width: @fullWidth;
	margin: 0 auto;
}

@media screen and (min-width: 48em) {
	body, html {
		max-width: 100%;
		width: 100%;
		.clearSpacing();
	}
	body {
	
	}
	header {height: 200px;}
	header .wrapper {
		.fullWidthCenter();
	}
	#main-navigation {
		width: 100%;
		background-color: @blue;
	}
	#main-navigation ul {
		.fullWidthCenter;
		display: block;
		height: @navHeight;
		li {
			list-style-type: none;
			display: inline-block;
			height: @navHeight;
			&:hover {background-color: @orange;}
			a {
				color: white;
				text-transform: uppercase;
				font-size: @defaultFontSize;
				padding: 14px 45px;
				display: block;
				&:link, &:visited {text-decoration: none; color: white;}
			}
		}
	}
	
}
