/* Swatches
-------------------------------------------------*/

@teal: #006a71;
@blue: #290c54;
@orange: #f08b1d;
@white #ffffff;

/* MOBILE FIRST
-------------------------------------------------*/

body {
  max-width: 48em;
  margin: 0 auto;
  padding: 100px 15px;
}

#header { }

#main-navigation {
  ul {  
    padding-left: 0;
    
    li {
      display: inline-block;

      ul {
        display: none;
      }

      &:not(:last-child) {
        margin-right: .5em;
      }

      &:hover > ul {
        display: inline-block;
      }

      &.active-link > a {
        color: salmon;
      }

      &.active-folder > a {
        color: orange;
      }
    }
  }
}

a {
  color: #999;
}

#content { }

#footer { }


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

  /* BOTH PAGES 
  ---------------------------------------------*/

  /* LIST PAGE
  ---------------------------------------------*/

  &.view-list { }

  /* ITEM PAGE
  ---------------------------------------------*/  

  &.view-item { }
  
}


/* TOUCH DEVICE - ADDED BY MODERNIZR
-----------------------------------------------*/

html.touch {
  .squarespace-comments .comments-content .comment-list .comment .comment-header .controls .squarespace-comment-buttons .comment-control {
    opacity: 1;
  }
}


/* BREAK GRID AND STACK BLOCKS ON SMALL SCREENS 
-----------------------------------------------*/

@media screen and (max-width: 48em) {
  .row .col {
    width: 100%;
    float: none;
  }
}

.boxShadow(@a:4 ) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow:    @arguments;
	box-shadow:         @arguments;
}

/* BEYOND MOBILE
-----------------------------------------------*/
@fullWidth: 1070px;
@navHeight: 48px;
@defaultFontSize: 15px;
@headerHeight: 200px;

.clearSpacing() {
	margin: 0;
	padding: 0;
}

.fullWidthCenter() {
	width: @fullWidth;
	margin: 0 auto;
}

@media screen and (min-width: 48em) {
	body, html {
		max-width: 100%;
		width: 100%;
		.clearSpacing();
	}
	body {
	
	}
	header {height: @headerHeight;}
	header .wrapper {
		.fullWidthCenter();
		#logo {
			padding-top: 27px;
			float: left;
		}
		.right {
			float: right;
			width: 380px;
			height: @headerHeight;
			.top {
				width: 165px;
				height: 58px;
				padding: 14px 20px 0;
				text-align: center;
				font-size: 19px;
				color: white;
				background-color: @orange;
				.boxShadow(-1px; 3px; 5px; rgba(204, 202, 202, 0.75));
			}
			.bottom {
				padding-top: 17px;
				line-height: 19px;
				color: @teal;
				font-size: 14px;
				.left {
					
				}
				.right {
				
				}
			}
		}
	}
	
	#main-navigation {
		width: 100%;
		background-color: @blue;
	}
	#main-navigation ul {
		.fullWidthCenter;
		display: block;
		height: @navHeight;
		li {
			list-style-type: none;
			display: inline-block;
			height: @navHeight;
			&:hover {background-color: @orange;}
			a {
				color: white;
				text-transform: uppercase;
				font-size: @defaultFontSize;
				padding: 14px 25px;
				display: block;
				&:link, &:visited {text-decoration: none; color: white;}
			}
		}
	}
	
}
