/* Swatches
-------------------------------------------------*/

@teal: #006a71;
@blue: #290c54;
@orange: #f08b1d;
@white: #ffffff;
@lightorange: #eead67;

/* MOBILE FIRST
-------------------------------------------------*/

body {
  max-width: 48em;
  margin: 0 auto;
  padding: 100px 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#header { }

#main-navigation {
  ul {  
    padding-left: 0;
    
    li {
      display: inline-block;
	  margin: 0;
	  position: relative;
	  &:hover ul {display:block;}
      ul {
        display: none;
		position: absolute;
		top: 48px;
		width: 240px;
		height: auto;
		z-index: 13;
		background-color: @orange;
		li {
			z-index: 13;
			display: block;
			width: 240px;
			&:hover, &.active {
				background-color: @lightorange;	
			}
		}
		
      }

      &:not(:last-child) {
        margin-right: .1em;
      }

      &:hover ul {
        display: block;
      }

      &.active-folder > a {
        background-color: @orange;
      }
    }
  }
}

a {
  color: #999;
}

#content { }

#footer { }


/* HOMEPAGE
-----------------------------------------------*/

.homepage { }


/* BLOG COLLECTION
-----------------------------------------------*/

.collection-type-blog {

  /* BOTH PAGES 
  ---------------------------------------------*/

  /* LIST PAGE
  ---------------------------------------------*/

  &.view-list { }

  /* ITEM PAGE
  ---------------------------------------------*/  

  &.view-item { }
  
}


/* TOUCH DEVICE - ADDED BY MODERNIZR
-----------------------------------------------*/

html.touch {
  .squarespace-comments .comments-content .comment-list .comment .comment-header .controls .squarespace-comment-buttons .comment-control {
    opacity: 1;
  }
}


/* BREAK GRID AND STACK BLOCKS ON SMALL SCREENS 
-----------------------------------------------*/

@media screen and (max-width: 48em) {
  .row .col {
    width: 100%;
    float: none;
  }
}

/* BEYOND MOBILE
-----------------------------------------------*/
@fullWidth: 1070px;
@navHeight: 48px;
@defaultFontSize: 15px;
@headerHeight: 200px;
.boxShadow (...) {
	-webkit-box-shadow: @arguments rgba(204, 202, 202, 0.75);
	-moz-box-shadow:    @arguments rgba(204, 202, 202, 0.75);
	box-shadow:         @arguments rgba(204, 202, 202, 0.75);
}
.clearSpacing() {
	margin: 0;
	padding: 0;
}

.fullWidthCenter() {
	width: @fullWidth;
	margin: 0 auto;
}



@media screen and (min-width: 48em) {
	body, html {
		max-width: 100%;
		width: 100%;
		.clearSpacing();
	}
	body {
	
	}
	header {height: @headerHeight;}
	header .wrapper {
		.fullWidthCenter();
		#logo {
			padding-top: 27px;
			float: left;
		}
		.right {
			float: right;
			width: 380px;
			height: @headerHeight;
			.top {
				box-shadow: -1px 3px 5px rgba(204, 202, 202, 0.75);
				width: 165px;
				height: 58px;
				padding: 14px 20px 0;
				text-align: center;
				font-size: 19px;
				color: white;
				background-color: @orange;
				a, a:link, a:visited {color: white; text-decoration: none;}
			}
			.bottom {
				height: 88px;
				padding-top: 17px;
				line-height: 19px;
				color: @teal;
				font-size: 14px;
				.left, .right {width: 182px; float: left;}
				.left {
					.address {padding-bottom: 12px;}
				}
				.right {
					padding-left: 20px; width: 162px;
				}
			}
		}
	}
	
	#main-navigation {
		width: 100%;
		background-color: @blue;
	}
	#main-navigation ul {
		.fullWidthCenter();
		display: block;
		height: @navHeight;
		li {
			list-style-type: none;
			display: inline-block;
			height: @navHeight;
			&:hover, &.active-link {background-color: @orange;}
			a {
				color: white;
				text-transform: uppercase;
				font-size: @defaultFontSize;
				padding: 14px 25px;
				display: block;
				&:link, &:visited {text-decoration: none; color: white;}
			}
		}
	}
	
	body #content {
		min-height: 500px;
		color: white;
		&.home {padding-top: 0px;}
		.other-wrapper {
		}
		.mainWrapper {
			.fullWidthCenter();
			box-shadow: 0px 2px 2px black;
			background-color:@teal;
			padding-top: 48px;
			min-height: 550px;
		}
		&.home .mainWrapper {
			.sub-inner-wrapper {
				background-repeat: repeat-x;
				background-position: center top;
				height: auto;
			}
			position: relative;
			z-index: 1;
			&#wave-wrapper {height: 380px;}
			.inner-wrapper {
				position: relative;
				background-image: url(/assets/wave.png);
				height: 310px;
				overflow: hidden;
			}
			.bottom {
				height: 60px;
				position: absolute; bottom: 0px; width: 100%;
				background-image: url(/assets/bottom-invert.png);
				background-position: center bottom;
				background-repeat: no-repeat;
				z-index: 5;
			}
		}
		&.page { article {
			padding-left: 30px;
			padding-right: 30px;	
		}}
		figure {
			float: right; width: 315px;
			margin-top: 90px;
			margin-right: 30px;
		}
		&.page article {
			&.hasThumbnail {
				padding-right: 400px;
			}
			color: white;
			h1, h2, p {.clearSpacing(); padding-bottom: 10px;}
			h1 {
				color: @orange;
				font-size: 48px;
				text-transform: uppercase;
				line-height: 55px;
			}
			
			h2 {
				font-size: 24px; line-height: 28px;
			}
		}
		
		&.home {
			overflow: hidden;
			.slides {
					z-index: 1;
					width: 1300px;
					margin: 0 auto;
					position: absolute;
					right: 0;
					top: 18px;
					overflow: hidden;
					width: 100%;
					height: 300px;
					img {
						position: absolute;
						top: 0;
						margin-right: 8px;	
					}
				}	
		}
		
		&.home article {
				width: auto;
				height: auto;
				.box {
					color: @teal;
					background-color: white;
					width: 430px;
					padding: 10px 20px 10px;
					position: absolute;	
					height: 250px;
					background-repeat: no-repeat;
					background-image: url(/assets/background-home.png);
					z-index: 10;
					top: 8px;
					left: 150px;
				}
				h1 {
					font-size: 42px;
					line-height: 49px;
					font-weight: 200;
					.clearSpacing();
				}
				p {
					font-size: 12px;
					line-height: 16px;
				}
			}
		
	}
	
	#under-main-content {
		height: auto;
		padding-bottom: 70px;
		padding-top: 70px;
		min-height: 250px;
		color: white;
		font-weight: 200;
		padding-left: 112px;
		h2, h3 {
			.clearSpacing();
			padding-bottom: 5px;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 22px;
		}
	}

	footer {
		.wrapper {
			padding-top: 70px;
			background-repeat: no-repeat;
			background-position: center 0;
			margin-top: -20px;
			background-image: url(/assets/bottom.png);
			.fullWidthCenter();
			height: 186px;
			.left, .right, .center {float: left; font-size: 13px; color: @teal; line-height: 15px;
				ul {
					.clearSpacing();
					list-style-type: none;
					li {
						.clearSpacing();
						list-style-type: none;
						a {
							text-decoration: none;
							color: @teal;
							&:link, &:visited {color:@teal;}
						}
					}
				}
			}
			.left {width: 475px;
				.website-title {padding-bottom: 10px;}
				.address {padding-bottom: 10px;}
				.phone {padding-bottom: 10px;}
				.email {}
			}
			.right { width: 115px;
				nav ul {
					.clearSpacing();
					li {
						padding-top: 2px;
					}
				}
			}
			.center { width: 475px;
				.menu {
				.title {padding-bottom: 12px;}
				nav ul {
					.clearSpacing();
					padding-bottom: 12px;
					li {
						padding-top: 2px;
					}
				}
			}}
		}
	}
	
	/** Questions template **/
	
	article .questions {
		.question {
			.title a {
				color: white; text-decoration: none; text-transform: uppercase; font-size: 1.1em;	
			}
			.title {padding-bottom: 8px;}
			padding-bottom: 12px;
		}
	}
	
}

/*Customize form blocks*/


